<template>
  <div>
    <div class="content-chart">
      <div>
        <div
          class="content-chart-item"
          v-for="(content, index) in contents"
          :key="index"
        >
          <div class="price">{{ content.price }}</div>
          <div class="token-name">{{ content.token_name }}</div>
          <div class="live-percent-change">
            {{ content.live_percent_change }}
            <span @click="isShowDetail = !isShowDetail">Chi tiết</span>
          </div>
          <div class="detail-box" v-show="!isShowDetail">
            <div class="list-detail">
              <h2>Thông tin chi tiết</h2>
              <div class="list-item">
                <span class="content">Token in pool</span>
                <span class="value"> 2,004 VREF</span>
              </div>
              <div class="list-item">
                <span class="content">Money in pool</span>
                <span class="value"> 50.1 USDT </span>
              </div>
              <div class="list-item">
                <span class="content">Current price</span>
                <span class="value"> 0.029 USDC/VREF </span>
              </div>
              <div class="list-item">
                <span class="content">Total supply</span>
                <span class="value"> 2,004 VREF </span>
              </div>
              <div class="list-item">
                <span class="content">Money can withdraw</span>
                <span class="value"> 50.1 USDT </span>
              </div>
              <div class="list-item">
                <span class="content">Current step</span>
                <span class="value"> 0 </span>
              </div>

              <div class="status">
          
                  <span class="content-status">Status</span>
                  <span class="value-status">Active</span>
               
              </div>
            </div>
          </div>
        </div>
        <div class="time-live">1:05 19/03/2022</div>
      </div>
      <div class="select-time">
        <button class="btn-time active">1 Ngày</button>
        <button class="btn-time">1 Tuần</button>
        <button class="btn-time">1 Tháng</button>
        <button class="btn-time">1 Năm</button>
      </div>
      <label class="dropdown">
        <div class="dd-button">1 ngày</div>
        <input type="checkbox" class="dd-input" id="test" />
        <ul class="dd-menu">
          <li>1 tuần</li>
          <li>1 tháng</li>
          <li>1 năm</li>
        </ul>
      </label>
    </div>
    <!-- <div style="margin-top: 180px" class="chart-table">
              <area-chart
                :library="{ backgroundColor: '#ffffff' }"
                :data="chartData"
              ></area-chart>
            </div> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      contents: [
        {
          price: 0.43,
          token_name: "NFTY/USDT",
          live_percent_change: "+ 0.03 (4.5%)",
        },
      ],
      isShowDetail: true,

      chartData: {
        "2019-5-13": 5,
        "2019-5-14": 7,
        "2019-5-15": 6,
        "2019-5-16": 9,
      },
    };
  },
};
</script>

<style>
/* Content chart */
.content-chart {
  display: flex;
}
.content-chart-item {
  align-items: center;
  display: flex;
  margin: 10px 15px;
}
.content-chart-item div {
  display: flex;

  margin: 5px 5px;
  line-height: 10px;
}
.content-chart-item .price {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
.token-name {
  font-size: 20px;
  color: #ffffff;
}
.live-percent-change {
  font-size: 20px;
  color: #00ff00;
  display: flex;
  align-items: center;
  text-align: center;
}
.live-percent-change span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  margin: 0 4px;
  /* identical to box height, or 167% */

  text-align: center;

  color: #fbd447;
}
.time-live {
  color: #ffffff;
  text-align: start;
  margin: 5px 20px;
}
.select-time {
  margin-left: 30px;
}
.btn-time {
  cursor: pointer;
  background: none;
  margin: 10px 10px;
  width: 75px;
  height: 34px;
  background: linear-gradient(
    98.58deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
}

.btn-time.active {
  color: #ffffff;
}

.btn-time:hover {
  color: #ffffff;
}
.content-swap {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px;
}
.content-swap span {
  font-size: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.content-swap img {
  margin: 5px 5px;
}
.dropdown {
  display: none;
}

/* detail box */
.detail-box {
  position: absolute;
  width: 448px;
  height: 365px;
  left: 367px;
  top: 237px;

  background: #313131;
  box-shadow: 0px 4px 24px rgba(33, 33, 33, 0.24);
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
}

.list-item {
  display: flex;
  border-bottom: 1px solid #393939;
  padding-bottom: 12px;
}
.list-item .content {
  width: 285px;
  height: 18px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.8);
}
.list-item .value {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  width: 150px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.status{
  display: flex;
}
.status .content-status {
  width: 285px;
  height: 18px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.status .value-status {
  width: 150px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #51f13b;
}
.list-detail {
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.list-detail h2 {
  margin-bottom: 12px;
}

/* Reponsive */
@media screen and (max-width: 575px) {
  .select-time {
    display: none;
  }
  .live-percent-change {
    font-size: 18px;
  }
}
</style>
