<template>
  <div class="wallet-detail" style="">
    <h3>Ví của tôi</h3>

    <Tabs>
      <TabItem name="Thông tin ví">
        <div class="first-tab" style="color: #fff">
          <h3
            style="font-size: 16px; color:color: rgba(255, 255, 255, 0.8); margin-left: 10px;"
          >
            Địa chỉ ví
          </h3>
          <div class="myaddress-wallet">
            <input
              v-on:focus="$event.target.select()"
              ref="clone"
              readonly
              :value="text"
            />
            <div class="rectangle"></div>
            <div class="line1"></div>
            <svg
              @click="copy"
              width="13"
              height="16"
              viewBox="0 0 13 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.375 3.96154C1.84154 3.96154 1.40909 4.39203 1.40909 4.92308V13.3846C1.40909 13.9157 1.84154 14.3462 2.375 14.3462H8.55682C9.09027 14.3462 9.52273 13.9157 9.52273 13.3846V7.48341C9.52273 7.22839 9.42096 6.98382 9.23982 6.8035L6.66785 4.24317C6.48671 4.06284 6.24103 3.96154 5.98485 3.96154H2.375ZM0.25 4.92308C0.25 3.75478 1.2014 2.80769 2.375 2.80769H5.98485C6.54844 2.80769 7.08894 3.03056 7.48745 3.42727L10.0594 5.9876C10.4579 6.38432 10.6818 6.92237 10.6818 7.48341V13.3846C10.6818 14.5529 9.73042 15.5 8.55682 15.5H2.375C1.2014 15.5 0.25 14.5529 0.25 13.3846V4.92308Z"
                fill="white"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.34091 1.07692C3.34091 0.758297 3.60038 0.5 3.92045 0.5H7.14394C7.70753 0.5 8.24803 0.72287 8.64654 1.11958L12.3776 4.83376C12.7761 5.23047 13 5.76852 13 6.32956V11.8462C13 12.1648 12.7405 12.4231 12.4205 12.4231C12.1004 12.4231 11.8409 12.1648 11.8409 11.8462V6.32956C11.8409 6.07454 11.7391 5.82997 11.558 5.64965L7.82694 1.93547C7.6458 1.75515 7.40012 1.65385 7.14394 1.65385H3.92045C3.60038 1.65385 3.34091 1.39555 3.34091 1.07692Z"
                fill="white"
              />
            </svg>
          </div>

          <div class="account-balance">
            <div class="list-balance">
              <h3>Số dư VREF</h3>
              <span>1,124.03742</span>
            </div>
            <div class="list-balance">
              <h3>Số dư USDT</h3>
              <span>0.00</span>
            </div>
          </div>
          <button class="disconnect-wallet">Ngắt kết nối ví</button>
        </div>
      </TabItem>
      <TabItem name="Lịch sử giao dịch">
        <div class="second-tab" style="color: #fff">
          <div class="trade">
            <div class="logo-trade">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.3333 1.66699L11.5 8.50033"
                  stroke="#53A548"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10.8335 5.1416V9.1666H14.8585"
                  stroke="#53A548"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.1665 1.66699H7.49984C3.33317 1.66699 1.6665 3.33366 1.6665 7.50033V12.5003C1.6665 16.667 3.33317 18.3337 7.49984 18.3337H12.4998C16.6665 18.3337 18.3332 16.667 18.3332 12.5003V10.8337"
                  stroke="#53A548"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="list-trade">
              <h3
                class="content-trade"
                style="
                  font-family: Mulish;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 20px;
                  letter-spacing: 0em;
                  text-align: left;
                "
              >
                Mua Token
              </h3>
              <span
                class="time-trade"
                style="
                  font-family: Mulish;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0em;
                  text-align: left;
                "
                >09:11 25/03/2022</span
              >
            </div>
            <div class="tickerPriceText">
              <span
                class="amount-token"
                style="
                  font-family: Mulish;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 20px;
                  letter-spacing: 0em;
                  text-align: center;
                  color: #53a548;
                "
                >+17 VREF</span
              >
              <span
                class="amount-usdc"
                style="
                  font-family: Mulish;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0em;
                  text-align: center;
                "
                >-0.031 USDC</span
              >
            </div>
          </div>
          <div class="lineListTrade"></div>
          <div class="trade">
            <div class="logo-trade-sell">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.8335 9.16634L17.6668 2.33301"
                  stroke="#FF4141"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18.3335 5.66699V1.66699H14.3335"
                  stroke="#FF4141"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.1665 1.66699H7.49984C3.33317 1.66699 1.6665 3.33366 1.6665 7.50033V12.5003C1.6665 16.667 3.33317 18.3337 7.49984 18.3337H12.4998C16.6665 18.3337 18.3332 16.667 18.3332 12.5003V10.8337"
                  stroke="#FF4141"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="list-trade sell-token">
              <h3
                class="content-trade"
                style="
                  font-family: Mulish;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 20px;
                  letter-spacing: 0em;
                  text-align: left;
                "
              >
                Bán Token
              </h3>
              <span
                class="time-trade"
                style="
                  font-family: Mulish;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0em;
                  text-align: left;
                "
                >09:11 25/03/2022</span
              >
            </div>
            <div class="tickerPriceText">
              <span
                class="amount-token"
                style="
                  font-family: Mulish;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 20px;
                  letter-spacing: 0em;
                  text-align: center;
                  color: #ff4141;
                "
                >-17 VREF</span
              >
              <span
                class="amount-usdc"
                style="
                  font-family: Mulish;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0em;
                  text-align: center;
                "
                >+0.031 USDC</span
              >
            </div>
          </div>
          <div class="lineListTrade"></div>
        </div>
      </TabItem>
    </Tabs>
  </div>
</template>

<script>
import { Tabs, TabItem } from "vue-material-tabs";
export default {
  props: {
    addressWallet: {
      type: [Number, String],
    },
  },
  data() {
    return {
      text: "0x82c158f37903ed939",
    };
  },
  methods: {
    copy() {
      this.$refs.clone.focus();
      document.execCommand("copy");
    },
  },
  computed: {},
  components: {
    Tabs,
    TabItem,
  },
};
</script>

<style>
/*LSGD */
.trade {
  display: flex;
}
.logo-trade {
  position: static;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 3px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  background: rgba(83, 165, 72, 0.2);
  border-radius: 24px;
}
.logo-trade-sell {
  position: static;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 3px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  background: rgba(255, 65, 65, 0.2);
  border-radius: 24px;
}
.logo-trade-sell svg {
  position: absolute;
}
.logo-trade svg {
  position: absolute;
}
.list-trade {
  margin-left: 8px;
}
.tickerPriceText {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 162px;
}
.lineListTrade {
  border: 1px solid rgba(255, 255, 255, 0.04);
  width: 413px;
  margin: 24px 0 24px 0;
}
.wallet-detail {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;

  background: #273236;
  backdrop-filter: blur(24px);
  position: absolute;
  z-index: 999;
  /* top: 79px; */
  margin-top: 8px;
  border-radius: 24px;
  height: 353px;
  width: 448px;
  left: 1120px;
  top: 62px;
  border-radius: 24px;
  padding: 24px;
}
.wallet-detail h3 {
  color: #ffffff;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
/* Tab MyWallet */
.vmt__nav__item {
  /* margin: 24px 8px 24px 24px ; */
  margin-top: 24px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 24px;
  width: 196px;
  height: 34px;
  background: linear-gradient(
    98.58deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  /* opacity: 0.5; */
  border-radius: 12px;
}
.vmt__btn {
  display: none;
}

.vmt__nav__item.active {
  background: linear-gradient(
    98.58deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.vmt__tab__slider {
  display: none;
}
.tabs {
  background: none !important;
  width: 448px !important;
  position: relative;
  right: 10px;
}
.vmt__nav {
  display: block !important;
  background: none !important;
  color: #fff;
}
.vmt__tab-item {
  background: none !important;
}
.vmt__nav__items span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
/* My Address Wallet Input */
.myaddress-wallet {
  position: static;
  width: 400px;
  height: 34px;
  left: 0px;
  margin-top: 8px;
  border: 1px solid #1b1a1a;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.5;
  background: linear-gradient(
    98.58deg,
    rgba(0, 0, 0, 0.16) 0%,
    rgba(0, 0, 0, 0.08) 100%
  );
  border-radius: 24px;
}
.myaddress-wallet input {
  position: static;
  width: 342px;
  height: 18px;
  left: 12px;
  top: 8px;
  background: transparent;
  border: none;
  color: #ffffff;
  outline: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
}
.rectangle {
  position: absolute;
  width: 74px;
  height: 18px;
  right: 100px;

  background: linear-gradient(
    270deg,
    #242d32 0%,
    #242d32 26.6%,
    rgba(36, 45, 50, 0.6) 51.95%,
    rgba(36, 45, 50, 0) 100%
  );
}
.line1 {
  position: static;
  width: 18px;
  height: 0px;
  left: 362px;
  top: 8px;
  border: 1px solid #bfbfbf;
  transform: rotate(90deg);
}
.myaddress-wallet svg {
  cursor: pointer;
}
.account-balance {
  margin: 12px 10px;
  width: 448px;
  padding-right: 62px;
}
.list-balance {
  display: flex;
  justify-content: space-between;
}
.list-balance h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.8);
}
.list-balance span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.disconnect-wallet {
  position: static;
  width: 400px;
  height: 40px;
  left: 0px;
  top: 265px;
  cursor: pointer;
  outline: none;
  border: 1px solid #ff4141;
  box-sizing: border-box;
  border-radius: 24px;
  background: transparent;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  margin-left: 10px;
  margin-top: 24px;
  color: #ff4141;
}
</style>
