<template>
  <div style="display: none" class="swap-confrim">
    <div class="content-header">
      <span>Xác nhận hoán đổi</span>
      <img
        style="width: 20px; height: 20px"
        class="btn-close"
        src="../assets/CloseCircle.png"
        alt=""
      />
    </div>
    <div class="box-itemswap">
      <div class="mytoken">
        <div class="logotoken">
          <svg
            width="26"
            height="24"
            viewBox="0 0 26 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.1954 0.00196059L6.99965 0L18.1433 19.3031L22.7394 11.3377L22.7393 11.3378L16.1952 0.00203027L16.1954 0.00196059ZM23.6135 9.85362L25.3888 6.77689C27.1261 3.76602 24.9529 0.0015055 21.477 0.000764318L17.925 7.02131e-06L23.6135 9.85362ZM16.9084 20.1135C17.1485 20.5294 17.1486 21.0418 16.9086 21.4577C15.1712 24.4686 10.8264 24.4677 9.08778 21.4561L0.612155 6.77446C-1.12644 3.76285 1.0452 -0.00073405 4.5211 7.13077e-06C5.00128 0.000109509 5.44495 0.25635 5.68504 0.672241L16.9084 20.1135ZM12.9932 22.3815C13.8118 22.3815 14.4755 21.7179 14.4755 20.8992C14.4755 20.0806 13.8118 19.417 12.9932 19.417C12.1746 19.417 11.5109 20.0806 11.5109 20.8992C11.5109 21.7179 12.1746 22.3815 12.9932 22.3815Z"
              fill="url(#paint0_linear_601_3072)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_601_3072"
                x1="-0.0137718"
                y1="13.1912"
                x2="24.8883"
                y2="13.1912"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#FFC837" />
                <stop offset="1" stop-color="#FF8008" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <p class="price-number">1</p>
        <p class="token-name">VREF</p>
      </div>

      <div class="btn-swright">
        <img src="../assets/swap-right.png" alt="" />
      </div>
      <div class="swapusdt">
        <div class="logotoken">
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20 40C31.0834 40 40 31.0834 40 20C40 8.9166 31.0834 0 20 0C8.9166 0 0 8.9166 0 20C0 31.0834 8.9166 40 20 40Z"
              fill="#2775CA"
            />
            <path
              d="M25.5006 23.167C25.5006 20.2504 23.7506 19.2504 20.2506 18.8338C17.7506 18.5004 17.2506 17.8338 17.2506 16.667C17.2506 15.5002 18.084 14.7504 19.7506 14.7504C21.2506 14.7504 22.084 15.2504 22.5006 16.5004C22.584 16.7504 22.834 16.917 23.084 16.917H24.4172C24.7506 16.917 25.0006 16.667 25.0006 16.3338V16.2504C24.6672 14.417 23.1672 13.0004 21.2506 12.8338V10.8338C21.2506 10.5004 21.0006 10.2504 20.584 10.167H19.334C19.0006 10.167 18.7506 10.417 18.6672 10.8338V12.7504C16.1672 13.0838 14.584 14.7504 14.584 16.8338C14.584 19.5838 16.2506 20.667 19.7506 21.0838C22.084 21.5004 22.834 22.0004 22.834 23.3338C22.834 24.6672 21.6672 25.5838 20.084 25.5838C17.9172 25.5838 17.1672 24.667 16.9172 23.417C16.834 23.0838 16.584 22.917 16.334 22.917H14.9172C14.584 22.917 14.334 23.167 14.334 23.5004V23.5838C14.6672 25.667 16.0006 27.167 18.7506 27.5838V29.5838C18.7506 29.917 19.0006 30.167 19.4172 30.2504H20.6672C21.0006 30.2504 21.2506 30.0004 21.334 29.5838V27.5838C23.834 27.167 25.5006 25.417 25.5006 23.167Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.33307 15.9162C5.91627 22.333 9.24967 29.583 15.7497 31.9162C15.9997 32.083 16.2497 32.4162 16.2497 32.6662V33.833C16.2497 33.9996 16.2497 34.083 16.1663 34.1662C16.0831 34.4996 15.7497 34.6662 15.4163 34.4996C10.7497 32.9996 7.16627 29.4162 5.66627 24.7496C3.16627 16.833 7.49967 8.41621 15.4163 5.91621C15.4997 5.83301 15.6663 5.83301 15.7497 5.83301C16.0831 5.91621 16.2497 6.16621 16.2497 6.49961V7.66621C16.2497 8.08301 16.0831 8.33301 15.7497 8.49961C12.3331 9.74961 9.58307 12.4162 8.33307 15.9162ZM23.8331 6.24967C23.9163 5.91627 24.2497 5.74967 24.5831 5.91627C29.1663 7.41627 32.8331 10.9997 34.3331 15.7497C36.8331 23.6663 32.4997 32.0831 24.5831 34.5831C24.4997 34.6663 24.3331 34.6663 24.2497 34.6663C23.9163 34.5831 23.7497 34.3331 23.7497 33.9997V32.8331C23.7497 32.4163 23.9163 32.1663 24.2497 31.9997C27.6663 30.7497 30.4163 28.0831 31.6663 24.5831C34.0831 18.1663 30.7497 10.9163 24.2497 8.58307C23.9997 8.41627 23.7497 8.08307 23.7497 7.74967V6.58307C23.7497 6.41627 23.7497 6.33307 23.8331 6.24967Z"
              fill="white"
            />
          </svg>
        </div>
        <p class="price-number-usdt">1</p>
        <p class="token-name-usdt">USDT</p>
      </div>
    </div>
    <div class="list-calculate">
      <div class="price-estimate">
        <span
          style="
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */

            letter-spacing: 0.02em;

            color: rgba(255, 255, 255, 0.8);
          "
          >Giá ước tính</span
        >
        <div class="estimate-item">
          <span>0.029</span>
          <span>USDT</span>
          <svg
            width="20"
            height="18"
            viewBox="0 0 20 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.6352 3.47292C12.468 2.68566 11.0816 2.2881 9.67459 2.33723C8.26759 2.38637 6.91226 2.87967 5.80285 3.74643C4.69344 4.6132 3.8869 5.80893 3.49884 7.16226C3.37198 7.60466 2.9105 7.86047 2.46809 7.73361C2.02569 7.60675 1.76988 7.14527 1.89674 6.70286C2.38182 5.01121 3.38998 3.51654 4.77674 2.43308C6.16351 1.34962 7.85767 0.732999 9.61643 0.671582C11.3752 0.610166 13.1082 1.10711 14.5672 2.09119C15.6914 2.84948 16.6084 3.86702 17.2454 5.05063L17.5477 4.49243C17.7668 4.08772 18.2725 3.93729 18.6773 4.15644C19.082 4.37558 19.2324 4.88132 19.0133 5.28603L17.9835 7.18766C17.8587 7.41832 17.6324 7.5767 17.373 7.61518L15.2339 7.93239C14.7786 7.9999 14.3548 7.68557 14.2873 7.23031C14.2198 6.77505 14.5341 6.35127 14.9894 6.28375L15.9313 6.14408C15.4209 5.0674 14.6293 4.14346 13.6352 3.47292ZM5.58641 11.3233C5.65392 11.7786 5.33959 12.2024 4.88433 12.2699L4.1595 12.3774C4.70271 13.3018 5.46265 14.0844 6.3775 14.6554C7.47189 15.3384 8.74095 15.6893 10.0308 15.6654C11.3206 15.6415 12.5758 15.2438 13.6441 14.5207C14.7125 13.7976 15.548 12.7801 16.0495 11.5915C16.2285 11.1675 16.7173 10.9688 17.1413 11.1477C17.5653 11.3266 17.764 11.8154 17.5851 12.2394C16.9582 13.7251 15.9138 14.9971 14.5783 15.901C13.2429 16.8048 11.6739 17.3019 10.0617 17.3317C8.44937 17.3616 6.86305 16.9231 5.49506 16.0693C4.36842 15.3661 3.42973 14.4062 2.75289 13.273L2.32606 14.0612C2.10691 14.4659 1.60117 14.6164 1.19646 14.3972C0.791745 14.1781 0.641313 13.6723 0.86046 13.2676L1.89017 11.366C2.01506 11.1353 2.24127 10.977 2.50073 10.9385L4.63985 10.6213C5.09511 10.5538 5.5189 10.8681 5.58641 11.3233Z"
              fill="#FBD447"
            />
          </svg>
        </div>
      </div>
      <div class="line" style="border: 1px solid #393939"></div>
    </div>
    <div class="list-min">
      <div class="price-estimate">
        <span
          style="
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */

            letter-spacing: 0.02em;

            color: rgba(255, 255, 255, 0.8);
          "
          >Tối thiếu nhận được</span
        >
        <div class="estimate-item">
          <span>0.025</span>
          <span>USDT</span>
        </div>
      </div>
      <div class="line" style="border: 1px solid #393939"></div>
    </div>
    <div class="list-pricedifference">
      <div class="price-estimate">
        <span
          style="
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */

            letter-spacing: 0.02em;

            color: rgba(255, 255, 255, 0.8);
          "
          >Chênh lệch giá</span
        >
        <div class="estimate-item">
          <span class="plus" style="color: #51f13b">+0.032%</span>
          <span class="minius" style="color: red; display: none">-0.032%</span>
        </div>
      </div>
      <div class="line" style="border: 1px solid #393939"></div>
    </div>
    <div class="list-fee">
      <div class="price-estimate">
        <span
          style="
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */

            letter-spacing: 0.02em;

            color: rgba(255, 255, 255, 0.8);
          "
          >Phí thanh khoản</span
        >
        <div class="estimate-item">
          <span>0.002</span>
          <span>USDT</span>
        </div>
      </div>
      <div class="line" style="border: 1px solid #393939"></div>
    </div>
    <div class="btn-confirm">Xác nhận</div>
    <div class="wait-swap1">
      <svg
        width="104"
        height="104"
        viewBox="0 0 104 104"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g opacity="0.4" filter="url(#filter0_f_658_3273)">
          <path
            d="M33.2422 63.0518C32.0087 60.9153 31.1596 58.6617 30.673 56.3714"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M30.5254 55.5859C30.097 53.1564 30.0699 50.7484 30.396 48.4297"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M30.5254 47.6406C30.9538 45.2111 31.7519 42.939 32.8514 40.8717"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M33.2422 40.1748C34.4757 38.0383 36.0028 36.1762 37.743 34.6096"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M38.3496 34.0889C40.2394 32.5031 42.3113 31.2756 44.4824 30.3987"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M57.4727 29.168C59.8321 29.6355 62.1004 30.4717 64.1915 31.636"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M75.9265 51.167C75.9295 51.3152 75.9308 51.4637 75.9308 51.6126C75.9308 53.9231 75.5875 56.1543 74.9492 58.2575"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M67.7629 69.1342C65.9176 70.6794 63.8431 71.9209 61.6259 72.8182"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M60.8836 73.1079C58.6211 73.9287 56.2472 74.3858 53.8567 74.4708"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M53.0601 74.49C50.6532 74.4875 48.2661 74.1051 45.9908 73.3673"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M45.2357 73.1123C42.9749 72.2867 40.8625 71.1109 38.9768 69.6395"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
          <path
            d="M38.3531 69.1406C36.511 67.5916 34.9282 65.7642 33.6594 63.7365"
            stroke="#FBD447"
            stroke-width="8"
            stroke-linecap="round"
          />
        </g>
        <path
          d="M31.9443 61.7539C30.7108 59.6174 29.8617 57.3639 29.3752 55.0735"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M29.2275 54.2881C28.7991 51.8586 28.772 49.4505 29.0981 47.1319"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M29.2275 46.3438C29.6559 43.9142 30.454 41.6421 31.5535 39.5748"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M31.9443 38.877C33.1778 36.7405 34.7049 34.8783 36.4451 33.3118"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M37.0508 32.791C38.9406 31.2053 41.0125 29.9777 43.1835 29.1008"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M56.1748 27.8711C58.5343 28.3386 60.8025 29.1748 62.8936 30.3391"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M74.6282 49.8701C74.6311 50.0184 74.6325 50.1668 74.6325 50.3158C74.6325 52.6263 74.2891 54.8574 73.6509 56.9607"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M66.4656 67.8373C64.6202 69.3825 62.5458 70.624 60.3286 71.5214"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M59.5858 71.811C57.3232 72.6319 54.9493 73.089 52.5589 73.1739"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M51.7622 73.1931C49.3554 73.1906 46.9683 72.8082 44.693 72.0704"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M43.9369 71.8144C41.6761 70.9889 39.5637 69.8131 37.678 68.3416"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <path
          d="M37.0553 67.8437C35.2131 66.2947 33.6303 64.4674 32.3616 62.4396"
          stroke="#FBD447"
          stroke-width="8"
          stroke-linecap="round"
        />
        <defs>
          <filter
            id="filter0_f_658_3273"
            x="2.1748"
            y="1.16699"
            width="101.756"
            height="101.323"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feGaussianBlur
              stdDeviation="12"
              result="effect1_foregroundBlur_658_3273"
            />
          </filter>
        </defs>
      </svg>
      <span style="display: none"
        >Đang đổi &nbsp;
        <h2>1 VREF</h2>
        &nbsp; sang &nbsp;
        <h2>0.029 USDC</h2></span
      >
      <div class="waiting-swap">
        <span class="p1">Đang chờ</span> <br />
        <span class="p2"
          >Lệnh chờ hoán đổi đã tốn quá nhiều thời gian. Bạn có muốn huỷ và thử
          lại sau?</span
        >
        <div class="btn-waiting">
          <button class="cancel-waiting">Huỷ lệnh</button>
          <button class="continue-waiting">Tiếp tục chờ</button>
        </div>
      </div>
    </div>
    <div class="failed" style="display:none">
      <div class="failed-item">
        <img src="../assets/failed.png" alt="" />

        <h2>Giao dịch thất bại</h2>
        <span
          >Giao dịch của bạn vừa bị huỷ do độ trượt của token tăng đột ngột và
          vượt khỏi ngưỡng quy định.</span
        >
        <div class="btn-closesw"><p>Đóng</p></div>
      </div>
    </div>
    <div style="display:none" class="success">
      <div class="success-item">
        <img src="../assets/success.png" alt="" />
        <h2>Giao dịch thành công</h2>
        <span
          >Giao dịch hoán đổi token của bạn đã thành công ghi vào hệ thống của
          chúng tôi.</span
        >
        <div class="btn-closesw"><p>Đóng</p></div>
      </div>
    </div>
  </div>
</template>

<script>
import Box from "../components/Box.vue";
export default {
  components: {
    Box,
  },
};
</script>

<style scoped>
.swap-confrim {
  position: absolute;
  width: 448px;
  height: 528px;
  left: 36%;
  top: 25%;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: start;

  background: #313131;
  box-shadow: 0px 4px 24px rgba(33, 33, 33, 0.24);
  backdrop-filter: blur(24px);

  border-radius: 24px;
}
.content-header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
  width: 100%;
}
.content-header span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  color: #ffffff;
}
.content-header img {
  cursor: pointer;
}
.box-itemswap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;

  position: static;
  width: 400px;
  height: 134px;
  left: 0px;
  top: 48px;

  background: linear-gradient(
    100.48deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
}
.box-itemswap {
  display: flex;
  justify-content: space-between;
}

.logotoken {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  left: 0px;
  top: 0px;
  margin-bottom: 8px;

  background: #ffffff;
}
.mytoken {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 86px;
  left: 262px;
  align-items: center;
  top: 24px;
}
.mytoken .price-number {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  line-height: 23px;
}
.mytoken .token-name {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 15px;
}
.logotoken svg {
  position: absolute;
}
.price-number-usdt {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  line-height: 23px;
}
.token-name-usdt {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 15px;
}
.swapusdt {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 86px;
  left: 262px;
  align-items: center;
  top: 24px;
}
.price-estimate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-calculate {
  width: 100%;
  padding: 24px;
}
.estimate-item {
  display: flex;
  align-items: center;
}
.estimate-item span {
  font-family: "Mulish";
  font-style: normal;
  margin: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.list-min {
  width: 100%;
  padding: 0 24px;
}
.list-pricedifference {
  width: 100%;
  padding: 24px;
}
.list-fee {
  width: 100%;
  padding: 0 24px;
}
.btn-confirm {
  position: static;
  width: 400px;
  height: 40px;
  left: 24px;
  top: 416px;

  background: linear-gradient(2.05deg, #b3e9fa -0.32%, #fde9a3 120.46%);
  border-radius: 68px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  padding: 24px;
  margin: 24px;
  cursor: pointer;
  color: #061d27;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wait change Box */
.wait-swap1 {
  position: absolute;
  width: 448px;
  min-height: 180px;
  left: 496px;
  top: 413px;
  display: flex;
  flex-direction: column;
  background: #313131;
  box-shadow: 0px 4px 24px rgba(33, 33, 33, 0.24);
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
}
.wait-swap1 span {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.wait-swap1 span h2 {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.wait-swap1 svg {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  width: 100%;
  margin-top: 24px;
}

/* Swap Fail */

.failed {
  position: absolute;
  width: 448px;
  height: 448px;
  right: 400px;
  top: 50px;

  background: #313131;
  box-shadow: 0px 4px 24px rgba(33, 33, 33, 0.24);
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
}
.failed-item {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.failed-item img {
  width: 277px;
  height: 206px;
  position: relative;
  top: 38px;
}
.failed-item h2 {
  margin: 62px 0 12px 0;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  color: #ffffff;
}
.failed-item span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.btn-closesw {
  position: static;
  width: 400px;
  height: 40px;
  margin-top: 18px;
  margin-bottom: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(2.05deg, #b3e9fa -0.32%, #fde9a3 120.46%);
  border-radius: 68px;
  cursor: pointer;
}
.btn-closesw p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #061d27;
}

/* Swap Success */

.success {
  position: absolute;
  width: 448px;
  height: 448px;
  right: 450px;
  top: 150px;

  background: #313131;
  box-shadow: 0px 4px 24px rgba(33, 33, 33, 0.24);
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
}
.success-item {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.success-item img {
  width: 277px;
  height: 206px;
  position: relative;
  top: 38px;
}
.success-item h2 {
  margin: 62px 0 12px 0;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  color: #ffffff;
}
.success-item span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.btn-closesw {
  position: static;
  width: 400px;
  height: 40px;
  margin-top: 18px;
  margin-bottom: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(2.05deg, #b3e9fa -0.32%, #fde9a3 120.46%);
  border-radius: 68px;
  cursor: pointer;
}
.btn-closesw p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #061d27;
}

/* waiting swap */
.waiting-swap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.waiting-swap .p1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.waiting-swap .p2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: rgba(255, 255, 255, 0.8);
}
.continue-waiting {
  width: 176px;
  height: 40px;
  left: 184px;
  top: 0px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border: none;
  color: #061d27;
  background: linear-gradient(2.05deg, #b3e9fa -0.32%, #fde9a3 120.46%);
  border-radius: 68px;
}
.btn-waiting {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 32px;
}
.cancel-waiting {
  width: 176px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: none;
  border: none;
  border-radius: 68px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
</style>
