<template>
  <div class="footer">
    <div class="list-left">
      <img src="../../assets/viref-logo.png" alt="" />
      <h2>HIỆN ĐẠI - HIỆU QUẢ - TIẾT KIỆM</h2>
      <h3>Đầu tư thông thái. Nắm chắc cơ hội.</h3>
    </div>
    <div class="list-right">
      <div class="menu">
        <ul>
          <li><a style="opacity: 1; font-weight: 800" href="">Menu</a></li>
          <li><a href="">Trang chủ</a></li>
          <li><a href="">Whitepaper</a></li>
        </ul>
      </div>
      <div class="contact">
        <ul>
          <li><a style="opacity: 1; font-weight: 800" href="">Liên Hệ</a></li>
          <li><a href="tel:1900277255">1900-277255</a></li>
          <li><a href="email:hi@viref.net">hi@viref.net</a></li>
          <li><a href="">ViRef Group</a></li>
          <li><a style="border-bottom-width: 1px" href="">ViRef Chanel</a></li>
        </ul>
      </div>
      <div class="socical">
        <ul>
          <li><a style="opacity: 1; font-weight: 800" href="">Mạng Xã Hội</a></li>
          <li></li>
          <a href="https://www.facebook.com/ViRef.Net">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 16 16"
              font-weight="bold"
              height="24px"
              width="24px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
              ></path>
            </svg>
          </a>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.footer {
      min-height: calc(110vh - 480px);
  background-color: #09171e;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.list-left img {
  height: 48px;
  margin: 24px 24px 24px 0;
}
.list-left {
      padding: 24px 24px 24px 146px;
}
.list-left h2 {
}
.list-left h3 {
  margin: 24px 24px 24px 0;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 140px;
}
.list-right {
  display: flex;
  margin-top: 40px;
}
.contact{
    padding-left: 80px;
}
.contact a {
  opacity: 0.7;
  line-height: 42px;
  padding: 10px;
}
.contact a:hover{
  opacity: 1;
}
.socical a:hover{
  opacity: 1;
}
.socical a{
  opacity: 0.7;
  line-height: 42px;
  padding: 10px;
}
.socical{
        padding-right: 140px;
    padding-left: 80px;
}

/* Reponsive Footer */
@media screen and (max-width: 575px) {
.footer{
  display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 24px;
}

.list-left{
  padding: 0;
  margin: 0;
}
.list-left img {
    height: 48px;
    margin: 24px 24px 24px 0;
    width: 162px;
}
.menu{
  margin: 0;

}
.list-right{
  margin: 0;
  flex-wrap: wrap;
}
.menu a{
  line-height: 24px;
  font-size: 14px;
}
.menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.menu li{
  padding: 0;
}
.socical{
  padding: 0; 
}
}
</style>
