<template>
<div>
    <div class="container bootstrap-wrapper">
    <div class="row">
      <box class="col-sm-12 col-md-8">
        <h3>Biểu đồ giá theo thời gian</h3>
        <Charttable />
        <chart />
      </box>
      <div class="col-sm-12 col-md-4">
        <swap />
        <box>
          <ul class="list-note">
            <li>Tối thiểu nhận được</li>
            <li
              class="faq-tooltip"
              tooltip-position="bottom"
              data-c-tooltip="Giao dịch của bạn sẽ hoàn nguyên nếu có một biến động giá lớn, bất lợi trước khi nó được xác nhận."
            >
              <img class="faq" src="../../assets/faq.png" />
            </li>
            <li>0.025 USDC</li>
          </ul>
          <ul class="list-note">
            <li>Chênh lệch giá</li>
            <img class="faq" src="../../assets/faq.png" />
            <li style="color: #53a548">+ 0.2%</li>
          </ul>
          <ul class="list-note">
            <li>Phí thanh khoản</li>
            <img class="faq" src="../../assets/faq.png" />
            <li>0.025 USDC</li>
          </ul>
          <div class="clear"></div>
        </box>
      </div>
    </div>
    <SwapConfirmation />
    
  </div>
  <Footer />
</div>

</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import Charttable from "../../components/ChartTable.vue";
import Box from "../../components/Box";
import Swap from "./Swap";
import Chart from "./Chart";
import Footer from './Footer'
import SwapConfirmation from "../../components/SwapConfirmation.vue";
export default {
  name: "Home",
  components: {
    Box,
    Swap,
    Chart,
    Charttable,
    SwapConfirmation,
    Footer
  },
  data() {
    return {
      received: 0,
      slippage: 0.2,
      currency: "",
    };
  },
  computed: {
    ...mapGetters(["isConnected"]),
    slippageReceived() {
      return parseInt(this.received * (1 - this.slippage / 100) * 100) / 100;
    },
    exchangeFee() {
      return this.currency == "vref" ? 1 : 0.1;
    },
  },
  methods: {
    setMax() {
      console.log("hello");
    },
    updateReceivedAmount(amount) {
      this.received = amount[0];
      this.currency = amount[1];
    },
  },
};
</script>
<style scoped>
.list-note {
  width: 100%;
  height: 24px;
  margin-bottom: 20px;
}
.list-note:last-of-type {
  margin-bottom: 0px;
}
.list-note li {
  line-height: 24px;
  float: left;
  opacity: 0.8;
  margin-right: 6px;
}
.list-note li:last-child {
  float: right;
  opacity: 1;
  font-weight: 700;
}
.faq {
  float: left;
  margin-top: 3px;
  width: 20px;
}
/* Tooltip FAQ */

.faq-tooltip:hover {
  text-decoration: none;
  z-index: 999;
}
header,
.demo,
.demo p {
  margin: 4em 0;
  text-align: center;
}
/**
 * c-tooltip Styles
 */
/* Base styles for the element that has a c-tooltip */
[data-c-tooltip] {
  position: relative;
  cursor: pointer;
}
/* Base styles for the entire c-tooltip */
[data-c-tooltip]:before,
[data-c-tooltip]:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 7;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
/* Show the entire c-tooltip on hover and focus */
[data-c-tooltip]:hover:before,
[data-c-tooltip]:hover:after,
[data-c-tooltip]:focus:before,
[data-c-tooltip]:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 7;
}
/* Base styles for the c-tooltip's directional arrow */
[data-c-tooltip]:before {
  z-index: 9999;
  border: 6px solid transparent;
  background: transparent;
  content: "";
  
}
/* Base styles for the c-tooltip's content area */
[data-c-tooltip]:after {
  z-index: 9999;
  padding: 8px;
  width: 220px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.16);
backdrop-filter: blur(24px);
  color: #fff;
  content: attr(data-c-tooltip);
  font-size: 14px;
  line-height: 1.2;
  
}

/* Bottom */
[tooltip-position='bottom']:before,
[tooltip-position='bottom']:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}
[tooltip-position='bottom']:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: rgba(51, 51, 51, 0.9);
}
[tooltip-position='bottom']:hover:before,
[tooltip-position='bottom']:hover:after,
[tooltip-position='bottom']:focus:before,
[tooltip-position='bottom']:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px);
}
/* Content chart */
.content-chart {
  display: flex;
}
.content-chart-item {
  display: flex;
  margin: 10px 15px;
}
.content-chart-item div {
  display: flex;

  margin: 5px 5px;
  line-height: 10px;
}
.content-chart-item .price {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
.token-name {
  font-size: 20px;
  color: #ffffff;
}
.live-percent-change {
  font-size: 20px;
  color: #00ff00;
}
.time-live {
  color: #ffffff;
  text-align: start;
  margin: 5px 20px;
}
.select-time {
  margin-left: 30px;
}
.btn-time {
  background: none;
  margin: 10px 10px;
  width: 75px;
  height: 34px;
  background: linear-gradient(
    98.58deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
}

.btn-time.active {
  color: #ffffff;
}

.btn-time:hover {
  color: #ffffff;
}
.content-swap {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px;
}
.content-swap span {
  font-size: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.content-swap img {
  margin: 5px 5px;
}
</style>
