<template>
  <div>
    <box title="Swap">
      <h3>
        Trao đổi
        <a href="#" class="setting1"
          ><img
            @click="isShowSetting = !isShowSetting"
            src="../../assets/setting.png"
        /></a>
      </h3>
      <div class="setting" v-show="!isShowSetting">
        <div class="setting-item">
          <span
            style="
              font-family: 'Mulish';
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              margin-top: 10px;
              line-height: 25px;
              /* identical to box height */

              color: #ffffff;
            "
            >Cài đặt</span
          >
        </div>
        <div class="setting-item">
          <div class="devaluation">
            <span>Độ trượt giá</span>
            <img src="../../assets/faq.png" alt="" />
          </div>
        </div>
        <div class="setting-item-vl">
          <div class="value-dlt">
            <button class="btn-dlt">0.1%</button>
            <button class="btn-dlt">0.5%</button>
            <button class="btn-dlt">1.0%</button>
            <div class="input-dlt">
              <input
                style="color: #ffffff"
                type="text"
                placeholder="2.0"
                size="4"
              /><span
                style="
                  position: absolute;
                  right: 25px;
                  bottom: 23px;
                  width: 25px;

                  border-left: 1px solid;
                "
              >
                %</span
              >
            </div>
          </div>
        </div>
      </div>
      <crypto-input
        :currency="coins[0]"
        v-model="values[0]"
        label="Từ"
        :set-max="isConnected ? setMax : null"
        :disabled="!isConnected"
      />
      <div style="text-align: center">
        <a class="btn-switch" href="#" @click="switchCoin">
          <div
            style="
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 20px;
            "
          >
            <loading v-if="loading" />
            <img v-else src="../../assets/arrow-down.png" />
          </div>
        </a>
      </div>
      <crypto-input
        :currency="coins[1]"
        :value="values[1]"
        label="Sang"
        :disabled="!isConnected || loading"
      />

      <input type="checkbox" id="" name="" value="" />
      <label
        for=""
        style="
          font-family: Mulish;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: 0.02em;
          text-align: center;
        "
      >
        Tôi hiểu và cho phép giao dịch với token VREF</label
      >
      <button v-if="isConnected" class="button" @click="swap">Xác nhận</button>
      <button v-else class="button" @click="connectWallet">Liên kết ví</button>
    </box>
    <div class="note" style="padding-bottom: 24px">
      Giá trị nhận được chỉ mang tính chất tương đối vì nó sẽ luôn thay đổi theo
      thời gian. Vui lòng sử dụng bảng này chỉ để tham khảo
    </div>
  </div>
</template>
<script type="text/javascript">
import { mapMutations, mapGetters } from "vuex";
import CryptoInput from "../../components/CryptoInput";
import Box from "../../components/Box";
import Loading from "../../components/Loading";
import helper from "../../helper";
import pool from "../../helper/pool";

export default {
  components: {
    Box,
    CryptoInput,
    Loading,
  },
  data() {
    return {
      coins: ["vref", "usdc"],
      values: [0, 0],
      loading: false,
      timer: null,
      isShowSetting: true,
    };
  },
  computed: {
    ...mapGetters(["accounts"]),
  },
  watch: {
    "values.0": {
      async handler(value) {
        if (!this.loading) this.calculate();
      },
    },
  },
  methods: {
    async setMax() {
      this.loading = true;
      let value = await this[this.coins[0].toUpperCase()].methods
        .balanceOf(this.accounts[0])
        .call();
      value /= 10 ** this[this.coins[0].toUpperCase()].decimals;
      this.$set(this.values, 0, value);
      this.loading = false;
      this.doCalculate();
    },
    switchCoin() {
      this.coins.reverse();
      this.values = [0, 0];
    },
    swap() {
      let value1 = (BigInt(this.values[1]) * BigInt(10 ** 18)).toString();
      if (this.coins[0] == "vref")
        return this.sellToken(this.values[0], value1);
      else return this.buyToken(this.values[0], value1);
    },
    calculate() {
      if (this.timer) {
        clearTimeout(this.timer);
      }
      this.timer = setTimeout(this.doCalculate.bind(this), 1000);
    },
    async doCalculate() {
      if (this.loading) return false;
      if (this.values[0] == 0) return this.$set(this.values, 1, 0);
      this.loading = true;
      let _moneyInPool = BigInt(await this.VREF.methods._moneyInPool().call());
      let _tokenInPool = BigInt(await this.VREF.methods._tokenInPool().call());
      let delta;
      let method = "buyToken";
      if (this.coins[0] == "vref") {
        // vref to usd
        delta = pool.sell(_tokenInPool, _moneyInPool, this.values[0]);
        method = "sellToken";
      } else {
        let currentStep = parseInt(
          await this.VREF.methods.currentStep().call()
        );
        let state = parseInt(await this.VREF.methods.state().call());
        let subIDOSold = BigInt(await this.VREF.methods.subIDOSold().call());
        delta = pool.buy(
          _tokenInPool,
          _moneyInPool,
          currentStep,
          state,
          subIDOSold,
          this.values[0]
        );
      }

      this.loading = false;
      return this.$set(this.values, 1, delta);
    },
    async buyToken(amount, expected = 0) {
      if (!amount) return;
      this.loading = true;
      let from = this.accounts[0];
      amount = BigInt(parseFloat(amount) * 10 ** this.USDC.decimals).toString();
      let approved = await this.USDC.methods
        .allowance(from, this.vref.address)
        .call({ from });
      if (!approved || parseFloat(approved) < amount) {
        let approve = await this.USDC.methods
          .approve(this.vref.address, amount)
          .send({ from });
        if (!approve || !approve.status) {
          this.loading = false;
          this.error = "Contract cannot access your money";
          return false;
        }
      }
      this.VREF.methods
        .buyToken(amount, expected)
        .send({ from })
        .then((result) => {
          let status = result.status;
          if (status) window.location.reload();
        })
        .finally((e) => {
          this.loading = false;
        });
    },
    async sellToken(amount, expected = 0) {
      let from = this.accounts[0];
      if (!amount) return;
      this.loading = true;
      amount = BigInt(parseFloat(amount) * 10 ** this.VREF.decimals).toString();
      let approved = await this.VREF.methods
        .allowance(from, this.vref.address)
        .call({ from });
      if (!approved || parseFloat(approved) < amount) {
        let approve = await this.VREF.methods
          .approve(this.vref.address, amount)
          .send({ from });
        if (!approve || !approve.status) {
          this.loading = false;
          this.error = "Contract cannot access your money";
          return false;
        }
      }

      this.VREF.methods
        .sellToken(amount, expected || 0)
        .send({ from })
        .then((result) => {
          let status = result.status;
          if (status) window.location.reload();
        })
        .finally((e) => {
          this.loading = false;
        });
    },
  },
  mounted() {},
  mixins: [helper],
};
</script>
<style scoped>
.setting1 {
  float: right;
}
.setting1 img {
  width: 16px;
}
.btn-switch {
  opacity: 0.5;
  background: linear-gradient(
    98.58deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 12px;
  padding: 10px 13px;
  display: inline-block;
  margin: 0 auto 20px auto;
}
.btn-switch:hover {
  opacity: 1;
}
.btn-switch:hover img {
  transform: rotate(180deg);
}
.btn-switch img {
  width: 16px;
  padding: 0 2px;
}
.note {
  margin-top: 30px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;
}
.button {
  background: linear-gradient(2.05deg, #b3e9fa -0.32%, #fde9a3 120.46%);
  border-radius: 68px;
  color: #061d27;
  font-weight: 700;
  text-align: center;
  padding: 18px 0;
  margin-top: 30px;
  font-size: 18px;
  display: block;
  width: 100%;
  border: 0;
  cursor: pointer;
}
/* Button setting */
.setting span {
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.item-ctc span {
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.content-cost {
  margin: 25px 24px;
}
.nit {
  left: 20px;
  position: relative;
}
.nit {
  left: 20px;
  position: relative;
}
.nit-osc {
  left: 30px;
  position: relative;
  color: #53a548;
}
.item-ctc svg {
  position: relative;
}
.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  position: absolute;
  width: 448px;
  border-radius: 24px;
  right: 12px;
  z-index: 10;
  height: 190px;

  background: #273236;
  backdrop-filter: blur(24px);
}
.value-dlt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.value-dlt .input-dlt {
  display: flex;
  width: 128px;
  height: 34px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  align-items: center;
}
.value-dlt .input-dlt input {
  width: 40px;
  height: 34px;
  position: relative;
  left: 60px;
  outline: none;
  border: none;
  background: transparent;
}
.btn-dlt {
  background: none;
  margin: 10px 10px;
  cursor: pointer;
  width: 75px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 34px;
  background: linear-gradient(
    98.58deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffffff;
}
.setting-item {
  margin: 20px 24px;
  width: 100%;
  text-align: start;
}
.setting-item-vl {
  margin: 20px 24px;
  width: 100%;
  text-align: start;
}
.devaluation img {
  position: relative;
  left: 10px;
  width: 20px;
  top: 5px;
}

.btn-switch:hover {
  background: linear-gradient(2.05deg, #b3e9fa -0.32%, #fde9a3 120.46%);
}

</style>
