<template>
  <div id="app">
    <div class="header" id="myTopnav">
      <div class="container" >
                <a href="https://viref.net" class="logo"><img src="./assets/viref-logo.png" /></a>
        <ul class="menu">
          <li><a href="https://viref.net" class="active">Trang chủ</a></li>
          <li><a href="https://blog.viref.net">Blogs</a></li>
          <li><a href="https://whitepaper.viref.net">Whitepaper</a></li>
        </ul>
        <div class="right-item">
          <a class="outline-button" href="#"  @click="connectWallet">
            <img src="./assets/wallet.png" />
            {{ accounts[0] || "Liên kết ví" }}
          </a>
           
        </div>
       <a href="javascript:void(0);" class="icon" @click="rps">☰</a>
      </div>
      <div class="clear"></div>
      
    </div>

      <MyWalletDetail v-show="!isShowMyWallet" />
    <router-view />
  
  </div>
</template>
<script>
import './assets/reset.css';
import './assets/grid.css';
import helper from "./helper";
import MyWalletDetail from './components/MyWalletDetail.vue'
import { mapGetters } from 'vuex';

export default {
  components: { MyWalletDetail, },
  
  data() {
    return {
      loading: true,
      tab: 'contract',
      web3Modal: null,
      networkId: null
    }
  },
  methods:{
        rps() {
      var x = document.getElementById("myTopnav");
      if (x.className === "header") {
        x.className += " responsive";
      } else {
        x.className = "header";
      }
    },
  },
  computed: {
    ...mapGetters(['accounts']),
    isRightNetwork() {
      return this.usdc && this.usdc.address;
    }
  },
  mounted() {
    if ( window.ethereum ) {
      this.getAccounts().then(accounts => {
        if ( accounts.length ) 
          return this.connectWallet();
      }).catch(e => console.log(e)).finally(e => {
        this.loading = false;
      })
    } else {
      window.addEventListener('ethereum#initialized', this.detectEthereum, {
        once: true,
      });

      // If the event is not dispatched by the end of the timeout,
      // the user probably doesn't have MetaMask installed.
      setTimeout(this.detectEthereum, 3000); // 3 seconds
    }
  },
  mixins: [helper]
}
</script>
<style >
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600&display=swap');
html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
}
html {
  background: url("./assets/Union.svg") center center repeat, 
              url("./assets/Vector.svg") left bottom no-repeat, 
              url("./assets/Star 4.svg") 80vw 10vh no-repeat,
              url("./assets/Star 3.svg") 70vw 20vh no-repeat #061D27;
}
body{
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}
a {
  color: #fff;
}
.clear {
  clear: both;
}

.container {
  width: 100%;
  max-width: 1394px;
  margin: 0 auto;
}

.header {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(80px);
  padding: 20px 0;
  color: white;
  margin-bottom: 24px;
}

.logo {
  float: left;
  padding: 4px 0;
}
.logo img {
  width: 120px;
}
.menu {
  float: left;
  margin-left: 60px;
}
.menu li {
  float: left;
  padding: 0px 10px;
}
.menu a {
  opacity: 0.7;
  line-height: 42px;
  padding: 10px;
}
.menu a:hover {
  opacity: 1;
}
.menu li a.active {
  font-weight: 600;
  opacity: 1;
}
.right-item {
  float: right;
}

.outline-button {
  display: block;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 700;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  line-height: 24px;
}
.outline-button img {
  width: 24px;
  float: left;
  margin-right: 8px;
}
.box h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* Reponsive */
.icon {
  display: none;
}

@media screen and (max-width: 455px) {
  .header .menu {
    display: none;
  }
  .icon {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .container{
        display: flex;
    justify-content: space-between;
  }
    .outline-button{
    display: none;
  }
  .logo {
    margin-left: 24px;
  }
  .list-right {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .header.responsive {
    position: relative;
  }
  .header.responsive a.icon {
    position: absolute;
    right: 0;
        padding-top: 30px;
    top: 0;
  }
  .header.responsive .menu {
 float: none;
    display: block;
    display: flex;
    margin-left: 0;
    text-align: left;
    flex-direction: column;
  }
   .header.responsive .container{
      display: flex;
      flex-direction: column;
   }

  /* .header.responsive .container {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  } */
  .navar.responsive .logo svg {
    display: none;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
   .header.responsive .outline-button{
    display: none;
  }
}

</style>
